<header>
    <a href="https://www.spstrutnov.cz/"><img id="logo" src="/img/logo/logo-spstrutnov-4.svg" alt=""></a>
    <a id="admin" href="/admin">Admin</a>
    <a href="/"><h1 style="font-weight: normal;" id="nadpis">SPŠ Galerie</h1></a>
</header>