#password{
    font-size: 15pt; 
    padding: 5px;
    width: 100%;
}
#username{
    font-size: 15pt; 
    padding: 5px;
    margin-bottom: 1em;
    width: 100%;
}
#login{
    padding-top: 20px;
}
#button_edit{
    font-size: 16pt;
    margin-left: 10px;
    background: #374e88;
    color: white;
    border-radius: 1px solid white;
    padding: 10px;
}
#button_upload{
    font-size: 16pt;
    margin-right: 10px;
    background: #374e88;
    color: white;
    border-radius: 1px solid white;
    padding: 10px;
}
#name{
    font-size: 26pt; 
    border-top: black solid 2px; 
    padding-top: 30px; 
    font-weight: bold;
}
.container{
    border-bottom: black solid 2px; 
    margin: 0 auto; 
    margin-top: 20px; 
    text-align: center; 
    width: 500px;
    height: 500px;

}
#submit{
    margin-top: 50px;
    padding: 10px;
    font-size: 15pt;
    background: #374e88;
    color: white;
    border-radius: 1px solid white;
}
#prihlasovaci_jmeno{
    margin-bottom: 1px;
    text-align: left;
}
#heslo{
    margin-bottom: 1px;
    text-align: left;
}
.my_container{
    width: 100%;
}
#footer{
    position: fixed;
    width: 100%;
}
body{
    margin: 0px;
    position: fixed;
}
#text_jmeno_heslo{
    text-align: left;
}
#button_submit{
    text-align: right;
}
#tlacitko_upload{
    text-align: center;
}
#tlacitko_edit{
    text-align: center;
}
#button_edit:hover{
    font-weight: bold;
    color: #374e88;
    background-color: white;
    border-radius: 1px solid #374e88;
}
#button_upload:hover{
    font-weight: bold;
    color: #374e88;
    background-color: white;
    border-radius: 1px solid #374e88;
}
#submit:hover{
    font-weight: bold;
    color: #374e88;
    background-color: white;
    border-radius: 1px solid #374e88;
}
