.custom_container
{
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
main
{
    height: 100%;
    background-color: white;
    padding: 10px;
    z-index: 1;
    box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.35);
}
.shadow-block
{
  box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.35);
}
.m-0-a
{
  margin:0 auto;
}


.projekt_container
{
  background-color: #005cbe;
  box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.35);
  max-height: 250px;
  font-size: 35px;
  color: white;
}

.projekt_container a{
  font-size: 20px;
  color: #223974;
}

.projekt_img_container img
{
  max-height: 250px;
  height: auto;
  object-fit: cover;
}
html
{
  height: 100%;
}
body
{
  height: 100%;
}

.filtrDiv {
    float: left;
    background-color: #007bff;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

.containerSTlacitky{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left: 3px;
  width: 100%;
}


.dropbtn {
  background-color: #223974;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown{
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
}
.dropbtn:hover {
  font-weight: bold;
  background-color: #223974;
  color: white;
}

.containerSTlacitky a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  margin: 0;
}

.containerSTlacitky a:hover {
  background-color: #bbbbbb;
}

.dropdown:hover .containerSTlacitky {
  display: block;
}

a[class*="filter_btn"].active 
	{
		background-color: #666;
		color: white;
	}
		
	.ob_filter 
	{
		display: none;
	}

	.ob_show 
	{
	  display: block;
	}

.tagy_container
{
  background: #223974;
  text-align: center;
}
button{
  border: 1px solid white;
  border-radius: 300px;
  color: white;
  background-color: #223974;
  font-weight: bold;
}
button:hover{
  transition: 0,5s;
  background-color: white;
  color: #223974;
  font-weight: bold;
}