header
{
    margin-bottom: 2em;
    color: white;
    background: #374e88;
    padding: 30px;
    z-index: 100;
    box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.35);
    margin-bottom: 0px;
}
#logo {
    /*float: left;*/
    width: 200px;
}
#nadpis
{
    margin: 0 !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important; /* Zde je to definované pro všechno! Změnit font na ten, který se bude líbitgit */
    font-size: 80px;
    text-align: center;
    color: white;
    text-decoration: none;
}
#admin
{
    float:right;
    color:rgb(171,186,223);
    text-decoration: none;
    font-size: 15px;
}
html{
    height:100%;
}
body{
    position: relative;
    min-height: 100%;
}
header a{
    text-decoration: none !important;
}
header a:hover{
    text-decoration: none !important;
    color: rgb(171,186,223);
}
footer
{
    background-color: #051640 !important; 
    z-index: 100;
    box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.35);
    color: rgb(78,87,110);
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 3px;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    bottom: 0;
}
footer p {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #051640;
    margin: 0;
  }

@media only screen and (max-width: 576px) 
{
    footer {
      display: none;
    }
    h1
    {
        font-size: 2em !important;
    }
}