#zahlavi_logo{
    background: #223974;
  }
  
  #logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    background: #223974;
  
  }
  #hlavni_nadpis{
    color: red;
  }
  