
#uploadbutts{
  border-top: 2px solid #223974;
  padding-top: 1em;
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto;
}
#zalozit_butt{
  text-align: right;
}
#button1, #button2{
  width: 95%;

}

main{
  width: 500px;
  margin:0 auto;
}

@media screen and (max-width: 700px){
  main{
    width: 400px;
  }
}

