<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admin_page.css">
    <link rel="stylesheet" href="../css/stejne.css">
    <title>Admin page</title>
   </head>

<body class="my_container">
    <header>
        <div id="zahlavi_logo">
            <div>
                <img id="logo" src="/imgLogo/logo-spstrutnov-4.svg" alt="">
            </div>
            <h1 id="hlavni_nadpis">SPŠ Galerie</h1>
        </div>
        
    </header>
    <main>
        <div class="container">
            <div>
                <p id="name">Admin page</p>
            </div>
            <div id="login">
                <div>
                    <div id="text_jmeno_heslo">
                        <p id="prihlasovaci_jmeno">Jméno:</p>
                        <label for="name"></label>
                        <input type="text" id="username" placeholder="Username.."  required> <br>
                    </div>
                    <div id="text_jmeno_heslo">
                        <p id="heslo">Heslo:</p>
                        <label for="password"></label>
                        <input type="password" id="password" placeholder="Password.."  required>
                    </div>
                </div>
            </div>
            <div id="button_submit">
                <button id="submit" onclick="SendLoginInfo()">Submit</button></a>
            </div>
        </div>
    </main>
    <footer class="sticky-footer">
        <div id="footer">
            <p>By 4.EP 2022 & Jakub Šenkýř</p>
        </div>
    </footer>
    <script>
        function SendLoginInfo(){
            fetch('/admin/loginInfo', {
                method:"POST",
                headers: {"Content-type":"application/json"},
                body:JSON.stringify({   
                    "username":username.value,
                    "password":password.value
                    })
            }).then(response => response.json()).then(data => {
                switch(data.status) {
                   case 100: {
                       location.href = "/admin/compare"
                       break;
                   }
                   default: {
                       console.log("error", data.status)
                       break;
                   }
                }
            })
        }
    </script>
</body>

</html>