<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
            <p style="font-size: 26px;">Admin page</p>
        </div>
        <nav>
            <a href="/upload">Upload</a>
            <a href="/">Edit</a>
        </nav>
        <div id="login">
            <label for="name">Name</label>
            <input type="text" id="name" style="margin-left: 23px;"> <br>
            <label for="password">Password</label>
            <input type="text" id="password">
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>