<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
   </head>

<body>
    <header>

    </header>
    <main>
        <div style=" border-bottom: black solid 2px; margin: 0 auto; margin-top: 200px; text-align: center; width: 400px; height: 400px;">
            <div>
                <p style="font-size: 26px; border-top: black solid 2px; padding-top: 50px; font-weight: bold;">Admin
                    page</p>
            </div>
            <div id="login" style="padding-top: 20px;">
                <label for="name"></label>
                <input type="text" id="username" placeholder="Username.." style="font-size: 15pt; padding: 5px;" required> <br>
                <label for="password"></label>
                <input type="password" id="password" placeholder="Password.." style="font-size: 15pt; padding: 5px;" required>
            </div>
            <button onclick="SendLoginInfo()">Submit</button></a>
        </div>
    </main>
    <footer>

    </footer>
    <script>
        function SendLoginInfo(){
            fetch('/loginInfo', {
               method: 'POST',
               headers: {
                'Content-Type': 'application/json'
               },
               body:JSON.stringify({
                username: username.value,
                password: password.value, 
               }),
            });
        }
    </script>
</body>

</html>