<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <header>
        <div>
            <h1>Název projektu</h1>
            <p>Datum</p>
        </div>
    </header>
    <main>
        <div>
            <p>Tagy: </p>
            <img id="obrazek "src="" alt="Hlavní obrázek">
        </div>
        <div>
            <p>Autoři: </p>
            <p>Mail: </p>
        </div>
        <div>
            <h2>Popis</h2>
            <p>Povídání o projektu</p>
        </div>
        <div>
            <h2>Galerie</h2>
            <img src="" alt="Obrázky">
        </div>
    </main>
    <footer>
        <div id="stranky">
            <p>Web</p>
            <p>GitHub</p>
        </div>
        <p>2021 &copy; </p>
    </footer>
</body>
</html>