<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/prehled/style.css">
    <script src="src/script_index.js"></script>
<<<<<<< HEAD:src/app/views/galerie_prehled.ejs
    <!-- 
    doplnit linky na ccsko
    -->
    <title>Document</title>
=======
    
    <title>SPŠ projekty</title>
>>>>>>> New_Main:index.html
</head>
<body>
    
    <header>
        <div>
            <img src="src/img/logo-spstrutnov.png" alt="" id="logo">
        </div>
<<<<<<< HEAD:src/app/views/galerie_prehled.ejs
        <h1 id="hlavni_nadpis">
            hlavní nadpis
        </h1>
        <nav>

        </nav>
=======
>>>>>>> New_Main:index.html
    </header>

    <main>
<<<<<<< HEAD:src/app/views/galerie_prehled.ejs
        <div id="vyhledavani">
            
            <div class="dropdown">
                <button class="dropbtn"> dropdown </button>
                <div class="dropdown-content">
                    <div>něco</div>
                    <div>něco</div>
                    <div>něco</div>
                    <div>něco</div>
                    <div>něco</div>
                    <div>něco</div>
                </div>
            </div>
=======
        <table>
>>>>>>> New_Main:index.html

            <tr>
                <td>            
                    <input class="vyhledavani" type="text" placeholder="Vyhledávání">
                </td>

                <td>
                    <div class="dropdown">
                        <button class="dropbtn">Obor</button>
                        <div id="obor" class="containerSTlacitky">
                            <input value="EP" type="checkbox"><label for="">EP</label><br>
                            <input value="IT" type="checkbox"><label for="">IT</label>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Ročník</button>
                        <div id="rocnik" class="containerSTlacitky">
                            <input type="checkbox"><label for="">1.</label><br>
                            <input type="checkbox"><label for="">2.</label><br>
                            <input type="checkbox"><label for="">3.</label><br>
                            <input type="checkbox"><label for="">4.</label>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Jazyk</button>
                        <div id="jazyk" class="containerSTlacitky">
                            <input type="checkbox"><label for="">C#</label><br>
                            <input type="checkbox"><label for="">Lua</label><br>
                            <input type="checkbox"><label for="">Python</label>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button id="typ" class="dropbtn">Typ</button>
                        <div class="containerSTlacitky">
                            <input type="checkbox"><label for="">NIC</label><br>
                            <input type="checkbox"><label for="">NIC</label>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Rok</button>
                        <div id="rok" class="containerSTlacitky">
                            <input type="checkbox"><label for="">2020</label><br>
                            <input type="checkbox"><label for="">2021</label>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>             
                    <div id="containerSTlacitky">
                        <button class="tlacitko active" onclick="vybratFiltr('vse')"> Všechno</button>
                        <button class="tlacitko" onclick="vybratFiltr('EP')"> EP</button>
                        <button class="tlacitko" onclick="vybratFiltr('IT')"> IT</button>
                    </div>           
                </td>
            </tr>
        </table>



        <!--Tohle jsou články! Ke každému článku se musí nastavit class (jako je to zde nastavené), jinak to nebude fungovat!-->
        
        <div class="na_projekty">
            <p>Místo na projekty, pro Aleše</p>

            <div class="container">
                <div class="filtrDiv IT">Projekt od IT</div>
                <div class="filtrDiv EP">Projekt od EP</div>
                <div class="filtrDiv 3.EP 3.IT">Projekt od EP a IT</div>
        
            </div>
        </div>
    </main>

    <footer>
        <div>

        </div>
    </footer>


</body>
</html>