<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/global_tagy.css">
    <title>Document</title>
    <style>
        .random
        {
            color: red;
        }
    </style>
</head>
<body>
    <div class="custom_container">
        <header>
            <div>
                <a href="\"></a>
            </div>
        </header>
        <main>
            <% for(var i = 0; i < Object.keys(data).length; i++){ %>
               <div class="dropdown">
                   <button class="dropbtn"><%= Object.keys(data)[i] %></button>
                   <div  class="containerSTlacitky">
                        <% for(let k = 0;k< data[Object.keys(data)[i]].length;k++) { %>
                            <input class="random" value="<%=data[Object.keys(data)[i]][k]%>" type="checkbox"><label for=""><%= data[Object.keys(data)[i]][k]%> %></label><br>
                        <% } %>
                    </div>
                </div>
            <% } %>  
        </main>
        <footer>

        </footer>
    </div>
    <script src="scripts\script_tagy.js"></script>
</body>
</html>