@keyframes posun{0%{margin-left:0;transform:rotate(180deg);}50%{margin-left:700px;transform:rotate(360deg);}100%{margin-left:0;transform:rotate(0deg);}}
@keyframes blink{
    0%{
        width:0;
        height:0;
        transform:rotate(1440deg);
    }
    50%{
        width: 1000px;
        height: 1000px;
        transform:rotate(-1440deg);
    }
    100%{
        width:0;
        height:0;
        transform:rotate(1440deg);
    }
}


.post{
    animation: blink .5s linear infinite;
}